<div class="container">
    <h1>Community</h1>
    <h2>Reach Out</h2>
    <div>
        <ul class="row list-unstyled plglt-community-twitter">
            <li class="col-sm-3 plglt-community-twitter-account">
                <h2><a href="https://twitter.com/polyglotconf">@polyglotconf</a></h2>
            </li>

            <li class="col-sm-2 plglt-community-meetup-account">
                <h2><a href="http://www.meetup.com/yyc-rb">YYC.rb</a></h2>
            </li>

            <li class="col-sm-2 plglt-community-meetup-account">
                <h2><a href="http://www.thechicgeek.ca/">The Chic Geek</a></h2>
            </li>

            <li class="col-sm-2 plglt-community-meetup-account">
                <h2><a href="http://www.meetup.com/Calgary-net-User-Group/">Calgary .NET User Group</a></h2>
            </li>

            <li class="col-sm-3 plglt-community-twitter-hashtag">
                <h2><a href="https://twitter.com/search?q=%23polyglotconf">#polyglotconf</a></h2>
            </li>
        </ul>
    </div>
    <h2>Conference Participants</h2>
    <div>
        <div class="lanyrd-target-participants plglt-participants-lanyrdattendeelist">
            <a href="http://lanyrd.com/2015/polyglotab/attendees/"
               class="lanyrd-participants"
               data-lanyrd-iframe
               data-lanyrd-nolink
               data-lanyrd-nocss>
                Attendee list for Alberta Polyglot Software Unconference 2015 on Lanyrd
            </a>
        </div>
        <p>
            <a href="http://lanyrd.com/2015/polyglotab/attendees/"><span class="glyphicon glyphicon-lanyrd"></span>Mark your attendance on Lanyrd</a>
        </p>
    </div>
</div>
