<div class="container">
    <h1>Venues</h1>
    <div class="row">
        <div class="col-xs-12">
            <h2>Conference: Innovate Calgary - Alastair Ross Technology Centre</h2>
            <p>3553 - 31 Street NW, Calgary, AB T2L 2K7</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 plglt-venue-image">
            <img src="/images/venue/venue-innovate.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 plglt-venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2506.2950195662866!2d-114.1306085!3d51.0845627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x677dfcf4da05d52d!2sCalgary+Technologies+Inc.!5e0!3m2!1sen!2sca!4v1416719217671" width="400" height="176" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>
