<div class="container">
    <h1>Vision</h1>
    <div>
        <p>This is the first annual Polyglot Alberta Unconference. Polyglot has
            been running for 3 years in Vancouver and this year the conference
            is expanding to Alberta. We hope to have over 100 software
            developers who will leave language, platform and possibly even editor
            wars behind and come together for a spontaneously organized day of
            amazing talks, round-table discussions, panel sessions and
            coding.</p>

        <p>If you've never been to an un-conference (or open-space) event
            before your owe it to yourself to make it to Polyglot Alberta 2015.
            It's an experience like no other.</p>
    </div>
</div>
